.experience-wrapper {
    margin-bottom: 10vw;

    .exp {

        p {
            text-transform: capitalize;
            line-height: 1.5;
            width: fit-content;
            padding: 1px 5px;
            margin-bottom: 2px;
        }

        .countries {
            background: #fff;
            color: #000;
        }

        .content {
            margin: 3vw 0;

            ul {
                line-height: 1.5;
            }

            li:last-child {
                margin-top: 7vw;
            }

            img {
                width: 100%;
                display: block;
                margin: 0 auto;
            }

            .experience-image {

            }

            .exp01 {
                width: 40%;
                margin-bottom: 10vw;
                transform: rotate3d(1, 1, 1, 350deg);
                padding-right: 40vw;
            }

        }
    }
}
