.experience-wrapper {
    margin: 10vw 0;

    .exp {

        margin-bottom: 10vw;

        p {
            text-transform: capitalize;
            line-height: 1.5;
            padding: 1px 0;
            margin-bottom: 2px;
        }

        .countries {
            background: #fff;
            color: #000;
        }

        .content {
            margin: 3vw 0;

            ul {
                line-height: 1.5;
            }

            img {
                width: 100%;
                display: block;
                margin: 0 auto;
            }

            .experience-image {

            }

            .exp01 {
                margin-bottom: 10vw;
            }

        }
    }
}
