.software {

    margin-bottom: 20vw;

    .software-image {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        text-align: center;
        margin-top: 7vw;

        .sw {
            height: 24vw;
            overflow: hidden;
            position: relative;
            margin: 0 1vw;
            padding: 5px;
            text-align: center;

            img {
                width: 16vw;
                z-index: 1;
                position: relative;
                box-shadow: -1px -0.5px 3px #b2b2b2, 1px -0.5px 1px #aaaaaa;
                padding: 2px;
                border-radius: 14px;
            }

        }

        span {
            text-transform: uppercase;
            font-size: 13px;
            display: block;
            margin: auto;
            z-index: 1;
            position: relative;
            width: max-content;
            padding: 2px 9px;
            top: 5px;
            border-radius: 10px;
        }

    }
}

@media screen and (max-width: 1024px) {

    .software-image span {
        font-size: 13px;
        border: 0;
    }

    .software .software-image {
        grid-template-columns: repeat(3, 1fr);
    }

}
