.software-container {
    padding: 150px 5px;

    .software-image {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        text-align: center;

        .sw {
            outline-offset: -1px;
            height: 45vw;
            overflow: hidden;
            position: relative;
            /* border: 2px solid #00000052; */
            margin: 0 1vw;
            filter: saturate(0.7) contrast(0.9) brightness(1.1);
            /* box-shadow: 2px 4px 20px #b3b3b3; */

            img {
                width: 22vw;
                z-index: 1;
                position: relative;
                margin-top: 6vw;
            }

        }

        .sw:nth-child(3n+1) {
            margin-top: -15px;
        }

        .sw:nth-child(3n+2) {
            margin-top: 10px;
        }

        span {
            text-transform: uppercase;
            font-size: 13px;
            display: block;
            margin: auto;
            background: linear-gradient(357deg, black, #00000091, #00000061);
            z-index: 1;
            position: relative;
            width: max-content;
            padding: 2px 9px;
            top: 5px;
            color: #fff;
            border-radius: 10px;
        }

    }
}

:root {
    --blur: blur(120px);
}

.blur {
    position: absolute;
    width: 50%;
    height: 50%;
    filter: blur(45px);
    z-index: 0;
}

.b1 {
    top: 0;
    left: 0;
    background-color: rgb(244, 235, 240);
}

.b2 {
    right: 0;
    top: 0;
    background-color: rgb(217, 216, 233);
}

.b3 {
    bottom: 0;
    left: 0;
    background-color: rgb(230, 233, 216);
}

.b4 {
    bottom: 0;
    right: 0;
    background-color: rgb(216, 230, 233);
}

.sw span {
    box-shadow: 1px 5px 10px #0000004a;
}

@media screen and (max-width: 1024px) {

    .software-image span {
        font-size: 13px;
        border: 0;
    }

    .software-container .software-image {
        grid-template-columns: repeat(3, 1fr);
    }

}
