:root {
    --blur: blur(120px);
}

.blur {
    position: absolute;
    width: 50%;
    height: 50%;
    filter: blur(45px);
    z-index: 0;
}

.b1 {
    top: 0;
    left: 0;
}

.b2 {
    right: 0;
    top: 0;
}

.b3 {
    bottom: 0;
    left: 0;
}

.b4 {
    bottom: 0;
    right: 0;
}

.skill span {
    box-shadow: 1px 5px 10px #0000004a;
}

.shopify {

    background: linear-gradient(180deg, black, #0f4316, transparent);

    .b1 {
        background-color: #b7dcff;
    }

    .b2 {
        background-color: rgb(139, 139, 255);
    }

    .b3 {
        background-color: rgb(163 255 80);
    }

    .b4 {
        background-color: rgb(125 255 249);
    }

}

.cafe24 {

    background: linear-gradient(180deg, black, #0f2743, transparent);

    .b1 {
        background-color: #fbffcd;
    }

    .b2 {
        background-color: #5f5fff;
    }

    .b3 {
        background-color: #1693ff;
    }

    .b4 {
        background-color: #020054;
    }
}

.webstorm {

    background: linear-gradient(180deg, #001a0d, rgb(0, 117, 92), #beb099, transparent);

    .b1 {
        background-color: #fbfdff;
    }

    .b2 {
        background-color: #ff5a05;
    }

    .b3 {
        background-color: #041674;
    }

    .b4 {
        background-color: #ffcf00;
    }
}

.ruby {

    background: linear-gradient(180deg, black, #250000, #55180d73, transparent);

    .b1 {
        background-color: #380000;
    }

    .b2 {
        background-color: #452e00;
    }

    .b3 {
        background-color: #003b57;
    }

    .b4 {
        background-color: #b97198;
    }
}

.visualstudio {
    background: linear-gradient(0deg, transparent, transparent, transparent, #69a9f1b8, #2f4d7acf, #1d2b42, #000);

    .b1 {
        background-color: #ff3f3f;
    }

    .b2 {
        background-color: #0581ff;
    }

    .b3 {
        background-color: #0088ff;
    }

    .b4 {
        background-color: #005fe2;
    }
}

.java {

    background: linear-gradient(180deg, rgb(14, 38, 70), #270202, #64462e73, transparent);

    .b1 {
        background-color: #297781;
    }

    .b2 {
        background-color: rgb(169, 0, 0);
    }

    .b3 {
        background-color: rgb(0 31 74);
    }

    .b4 {
        background-color: rgb(214, 146, 119);
    }

}

.html {

    background: linear-gradient(180deg, rgb(61, 9, 0), #310a00, #4e230073, transparent);

    .b1 {
        background-color: #6d4100;
    }

    .b2 {
        background-color: #ff8000;
    }

    .b3 {
        background-color: #7a0000;
    }

    .b4 {
        background-color: #ff001e;
    }
}

.illustrator {

    background: linear-gradient(180deg, #241900, #351500, #64512e73, transparent);

    .b1 {
        background-color: #473600;
    }

    .b2 {
        background-color: rgb(255, 214, 139);
    }

    .b3 {
        background-color: rgb(255, 247, 21);
    }

    .b4 {
        background-color: rgb(255, 66, 52);
    }

}

.react {

    background: linear-gradient(180deg, #00171d, #003d55, #004b5873, transparent);

    .b1 {
        background-color: #ffffff;
    }

    .b2 {
        background-color: #c7fffc;
    }

    .b3 {
        background-color: #005e98;
    }

    .b4 {
        background-color: #3671c6;
    }
}

.python {
    background: linear-gradient(180deg, #241900, #2c2c2c, #64512e73, transparent);

    .b1 {
        background-color: #000f30;
    }

    .b2 {
        background-color: #ffffef;
    }

    .b3 {
        background-color: #e5ff00;
    }

    .b4 {
        background-color: #fdff9c;
    }
}

.vue {

    background: linear-gradient(180deg, #1c2a2b, #194b44, #2e643a73, transparent);

    .b1 {
        background-color: #086ac6;
    }

    .b2 {
        background-color: rgb(139, 139, 255);
    }

    .b3 {
        background-color: rgb(233, 255, 213);
    }

    .b4 {
        background-color: rgb(125, 255, 125);
    }

}

.css {

    background: linear-gradient(180deg, #000413, #000e36, #3e81ff73, transparent);

    .b1 {
        background-color: #010052;
    }

    .b2 {
        background-color: #c7c7ff;
    }

    .b3 {
        background-color: #d1edff;
    }

    .b4 {
        background-color: #3671c6;
    }
}

.figma {

    background: linear-gradient(180deg, #1b0000, #550000, #20005a73, transparent);

    .b1 {
        background-color: #0099ff;
    }

    .b2 {
        background-color: #ff5500;
    }

    .b3 {
        background-color: #5fbeff;
    }

    .b4 {
        background-color: #ffc400;
    }

}

.github {
    background: linear-gradient(180deg, black, #1d0f43, transparent);

    .b1 {
        background-color: #0e0e0e;
    }

    .b2 {
        background-color: #cfcfcf;
    }

    .b3 {
        background-color: #f0f9ff;
    }

    .b4 {
        background-color: #000000;
    }
}

.docker {
    background: linear-gradient(0deg, #68caff4d, #c8e7ff, #a1eff9c4, #7eacbeb8, #003c4aeb, #00121a);

    .b1 {
        background-color: #004b91;
    }

    .b2 {
        background-color: rgb(231 238 17);
    }

    .b3 {
        background-color: rgb(120 79 0);
    }

    .b4 {
        background-color: rgb(3, 142, 255);
    }

}

.mysql {

    background: linear-gradient(180deg, #00141b, #00284e, #ffb26973, transparent);

    .b1 {
        background-color: #554100;
    }

    .b2 {
        background-color: #553800;
    }

    .b3 {
        background-color: #9fdaff;
    }

    .b4 {
        background-color: #a84c00;
    }
}

.js {

    background: linear-gradient(180deg, #141b11, #2c5017, #8dc73173, transparent);

    .b1 {
        background-color: #f1ffd6;
    }

    .b2 {
        background-color: #77ff00;
    }

    .b3 {
        background-color: #ffffff;
    }

    .b4 {
        background-color: #263727;
    }

}

.bootstrap {

    background: linear-gradient(180deg, #0f0018, #312b38, #451e7773, transparent);

    .b1 {
        background-color: #110124;
    }

    .b2 {
        background-color: #a057ff;
    }

    .b3 {
        background-color: #662eff;
    }

    .b4 {
        background-color: #7b33ff;
    }
}

.sql {

    background: linear-gradient(180deg, #000000, #001438, #31c2c773, transparent);

    .b1 {
        background-color: #08223a;
    }

    .b2 {
        background-color: rgb(100, 152, 255);
    }

    .b3 {
        background-color: rgb(0, 160, 252);
    }

    .b4 {
        background-color: rgb(16, 80, 133);
    }

}

.photoshop {

    background: linear-gradient(180deg, #2a3257, #424a94, #3147c773, transparent);

    .b1 {
        background-color: #557cff;
    }

    .b2 {
        background-color: #011722;
    }

    .b3 {
        background-color: #7a95a7;
    }

    .b4 {
        background-color: #c7cdff;
    }
}

.protools {

    background: linear-gradient(180deg, #13001b, #510077, #ad00b373, transparent);

    .b1 {
        background-color: #9000ff;
    }

    .b2 {
        background-color: #080213;
    }

    .b3 {
        background-color: #1c002f;
    }

    .b4 {
        background-color: #b84fad;
    }
}