:root {
    --blur: blur(120px);
}

.blur {
    position: absolute;
    width: 50%;
    height: 50%;
    filter: blur(60px);
    z-index: 0;
}

.b1 {
    top: 0;
    left: 0;
}

.b2 {
    right: 0;
    top: 0;
}

.b3 {
    bottom: 0;
    left: 0;
}

.b4 {
    bottom: 0;
    right: 0;
}

.shopify {

    background-image: url(../images/background/1.jpg);

    .b1 {
        background-color: #b7dcff;
    }

    .b2 {
        background-color: rgb(139, 139, 255);
    }

    .b3 {
        background-color: rgb(163 255 80);
    }

    .b4 {
        background-color: rgb(125, 255, 125);
    }

}

.cafe24 {

    background-image: url(../images/background/2.jpg);

    .b1 {
        background-color: #fbffcd;
    }

    .b2 {
        background-color: #5f5fff;
    }

    .b3 {
        background-color: #1693ff;
    }

    .b4 {
        background-color: #3671c6;
    }
}

.webstorm {

    background-image: url(../images/background/3.jpg);

    .b1 {
        background-color: #fbfdff;
    }

    .b2 {
        background-color: #ff5a05;
    }

    .b3 {
        background-color: #5fbeff;
    }

    .b4 {
        background-color: #7eff6d;
    }
}

.java {

    .b1 {
        background-color: #ffae00;
    }

    .b2 {
        background-color: rgb(169, 118, 0);
    }

    .b3 {
        background-color: rgb(255, 83, 45);
    }

    .b4 {
        background-color: rgb(104, 3, 0);
    }

}

.ruby {

    background-image: url(../images/background/17.jpg);
    background-size: cover;

    .b1 {
        background-color: #ff0000;
    }

    .b2 {
        background-color: #ffffff;
    }

    .b3 {
        background-color: #ffd1d1;
    }

    .b4 {
        background-color: #500009;
    }
}

.visualstudio {

    background-image: url(../images/background/4.jpg);
    background-size: cover;

    .b1 {
        background-color: #0099ff;
    }

    .b2 {
        background-color: #ffffff;
    }

    .b3 {
        background-color: #5fbeff;
    }

    .b4 {
        background-color: #00ffdd;
    }
}

.java {
    background-image: url(../images/background/6.jpg);
    background-size: cover;

    .b1 {
        background-color: #ffd57c;
    }

    .b2 {
        background-color: rgb(241, 233, 215);
    }

    .b3 {
        background-color: rgb(255, 177, 159);
    }

    .b4 {
        background-color: rgb(255, 217, 216);
    }

}

.html {
    background-image: url(../images/background/16.jpg);
    background-size: cover;

    .b1 {
        background-color: #ffd7d7;
    }

    .b2 {
        background-color: #ff8000;
    }

    .b3 {
        background-color: #ffd1d1;
    }

    .b4 {
        background-color: #fff7f8;
    }
}

.illustrator {

    background-image: url(../images/background/8.jpg);
    background-size: cover;

    .b1 {
        background-color: #473600;
    }

    .b2 {
        background-color: rgb(255, 214, 139);
    }

    .b3 {
        background-color: rgb(255, 247, 21);
    }

    .b4 {
        background-color: rgb(255, 66, 52);
    }

}

.react {

    background-image: url(../images/background/5.jpg);
    background-size: cover;

    .b1 {
        background-color: #ffffff;
    }

    .b2 {
        background-color: #c7fffc;
    }

    .b3 {
        background-color: #005e98;
    }

    .b4 {
        background-color: #3671c6;
    }
}

.python {
    background-image: url(../images/background/25.jpg);
    background-size: cover;

    .b1 {
        background-color: #ffffff;
    }

    .b2 {
        background-color: #ffffef;
    }

    .b3 {
        background-color: #e5ff00;
    }

    .b4 {
        background-color: #fdff9c;
    }
}

.vue {
    background-image: url(../images/background/11.jpg);
    background-size: cover;

    .b1 {
        background-color: #086ac6;
    }

    .b2 {
        background-color: rgb(139, 139, 255);
    }

    .b3 {
        background-color: rgb(233, 255, 213);
    }

    .b4 {
        background-color: rgb(125, 255, 125);
    }

}

.css {
    background-image: url(../images/background/15.jpg);
    background-size: cover;

    .b1 {
        background-color: #fbffcd;
    }

    .b2 {
        background-color: #c7c7ff;
    }

    .b3 {
        background-color: #d1edff;
    }

    .b4 {
        background-color: #3671c6;
    }
}

.figma {
    background-image: url(../images/background/24.jpg);
    background-size: cover;

    .b1 {
        background-color: #0099ff;
    }

    .b2 {
        background-color: #ff5500;
    }

    .b3 {
        background-color: #5fbeff;
    }

    .b4 {
        background-color: #fffae9;
    }

}

.github {
    background-image: url(../images/background/10.jpg);
    background-size: cover;

    .b1 {
        background-color: #0e0e0e;
    }

    .b2 {
        background-color: #cfcfcf;
    }

    .b3 {
        background-color: #f0f9ff;
    }

    .b4 {
        background-color: #000000;
    }
}

.docker {
    background-image: url(../images/background/13.jpg);
    background-size: cover;

    .b1 {
        background-color: #188fff;
    }

    .b2 {
        background-color: rgb(0, 76, 255);
    }

    .b3 {
        background-color: rgb(0, 114, 120);
    }

    .b4 {
        background-color: rgb(125, 196, 255);
    }

}

.mysql {
    background-image: url(../images/background/9.jpg);
    background-size: cover;

    .b1 {
        background-color: #ffeaa3;
    }

    .b2 {
        background-color: #c7c7ff;
    }

    .b3 {
        background-color: #58bfff;
    }

    .b4 {
        background-color: #db741f;
    }
}

.js {
    background-image: url(../images/background/19.jpg);
    background-size: cover;

    .b1 {
        background-color: #f1ffd6;
    }

    .b2 {
        background-color: #77ff00;
    }

    .b3 {
        background-color: #ffffff;
    }

    .b4 {
        background-color: #263727;
    }

}

.bootstrap {
    background-image: url(../images/background/7.jpg);
    background-size: cover;

    .b1 {
        background-color: #0400ff;
    }

    .b2 {
        background-color: #e0cdff;
    }

    .b3 {
        background-color: #000000;
    }

    .b4 {
        background-color: #dfceff;
    }
}

.sql {
    background-image: url(../images/background/21.jpg);
    background-size: cover;

    .b1 {
        background-color: #b7dcff;
    }

    .b2 {
        background-color: rgb(201, 216, 245);
    }

    .b3 {
        background-color: rgb(219, 233, 231);
    }

    .b4 {
        background-color: rgb(0, 140, 255);
    }

}

.photoshop {
    background-image: url(../images/background/22.jpg);
    background-size: cover;

    .b1 {
        background-color: #ffeaa3;
    }

    .b2 {
        background-color: #0000ff;
    }

    .b3 {
        background-color: #019eff;
    }

    .b4 {
        background-color: #db741f;
    }
}

.protools {
    background-image: url(../images/background/18.jpg);
    background-size: cover;

    .b1 {
        background-color: #9000ff;
    }

    .b2 {
        background-color: #d9c4ff;
    }

    .b3 {
        background-color: #1c002f;
    }

    .b4 {
        background-color: #ffdafb;
    }
}