.timeline-wrapper {
    padding: 5vw;

    .t {

        display: grid;
        grid-template-columns: repeat(2, 1fr);

        li {
            list-style: none;
            border-radius: 5px;
            padding: 0.5vw 2vw;
            height: 8vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            overflow: hidden;
            margin: 2vw;

            img {
                position: absolute;
                display: block;
                border: none !important;
                top: -50%;
            }

            .w-logo {
                height: 2vw;
                left: 10%;
            }

            .pb-logo {
                width: 6vw;
                top: -40%;
                right: 10%;
            }

            h3 {
                font-size: 1.75em;
            }

            h4 {
                font-size: 1.2em;
                margin-bottom: 1.2em;
            }

            .work-title {
                display: block;
                font-size: 1.2vw;
            }

            p {
                z-index: 1;
            }
        }

        .t1 {


            .b1 {
                background-color: #baccbd;
            }

            .b2 {
                background-color: #c7c7ff;
            }

            .b3 {
                background-color: rgb(216 255 249);
            }

            .b4 {
                background-color: rgb(255 197 197);
            }
        }

        .t2 {
            .b1 {
                background-color: #dca0a0;
            }

            .b2 {
                background-color: rgb(242 255 187);
            }

            .b3 {
                background-color: rgb(248 255 224);
            }

            .b4 {
                background-color: rgb(191 255 248);
            }
        }

        .t3 {

            .b1 {
                background-color: #ffa3e8;
            }

            .b2 {
                background-color: #e389ff;
            }

            .b3 {
                background-color: #cbffcc;
            }

            .b4 {
                background-color: #d5f1ad;
            }

        }

        .t4 {
            .b1 {
                background-color: #f5ffd1;
            }

            .b2 {
                background-color: rgb(255 198 198);
            }

            .b3 {
                background-color: rgb(135 184 255);
            }

            .b4 {
                background-color: rgb(229 255 206);
            }
        }


        li:before {
            content: "";
            -moz-transition: -moz-transform 0.2s ease-in;
            -o-transition: -o-transform 0.2s ease-in;
            -webkit-transition: -webkit-transform 0.2s ease-in;
            transition: transform 0.2s ease-in;
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            display: none;
            margin: 0.5em 0.5em 0.5em -0.5em;
            position: absolute;
            top: 1em;
            left: -2.02em;
            width: 1em;
            height: 1em;
            border-radius: 5px;
        }


        li p span {
            display: block;
            font-size: 12px;
        }

    }

    .t:before {
        background: #202026ed;
        content: "";
        margin-left: -3px;
        position: absolute;
        top: 1em;
        left: 2em;
        width: 5px;
        height: 100%;
        border-radius: 5px;
        box-shadow: 10px 5px 10px #0000007d;
        display: none;
    }

}

@media screen and (max-width: 1024px) {

    .timeline-wrapper {

        .t {

            display: block;

            .t1 {}

            .t2 {}

            .t3 {}

            .t4 {}


            li {

                .work-title {
                    font-size: 16px;
                }

                /* background: black;
                color: #fff */

            }
        }

    }

}