@import url('https://fonts.googleapis.com/css2?family=Gloock:ital,wght@0,400;0,700&display=swap');

@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Dovemayo_gothic", sans-serif;
}

.container {
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: background-image 0.25s ease-in-out;
}

.container:before {
  --size: 60px;
  --line: hsl(0deg 0% 100% / 15%);
  content: '';
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size), linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
  -webkit-mask: linear-gradient(-15deg, transparent 30%, white);
  mask: linear-gradient(-15deg, transparent 30%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
}

.container section {
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container section#contact:last-child {
  border-bottom: 0;
}

section h2 {
  font-size: 3vw;
  letter-spacing: -0.01em;
  padding-top: 3%;
  padding-left: 3%;
  line-height: 0.8;
  z-index: 1;
  position: relative;
  width: fit-content;
  text-transform: capitalize;
}

.pagination {
  position: fixed;
  top: 4%;
  right: 9%;
  z-index: 2;
  width: 5vw;
  background: #ffffff;
}

.pagination ul {
  position: absolute;
  display: flex;
}

.pagination ul li {
  padding: 10px;
  list-style: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  background-color: #fff;
}

.pagination ul li p {
  text-transform: capitalize;
  letter-spacing: 0.02em;
  height: 32px;
  line-height: 1;
  font-size: 2.5vw;
  -webkit-text-stroke: 1px #000;
  color: #fff;
}

.pagination ul li:hover {
  background-color: #eee;
}

.pagination ul li.active p {
  color: #000;
}


#tasks .tasks-container {
  position: relative;
  margin: 0 5%;
}

#tasks .tasks-wrapper {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  width: 100%;
  padding-right: 5vw;
}

#tasks .tasks-wrapper .tasks {
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2vw;
  width: 120%;
}

#tasks .tasks-wrapper .tasks.chlens,
#tasks .tasks-wrapper .tasks.eotd {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: auto;
}

#tasks .tasks-wrapper .task {
  width: 600px;
  margin: 0.5vw;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid;
  box-shadow: 2px 2px 0 #e0dadd, 3px 3px 0 0 rgb(56 6 98 / 91%);
  border-radius: 50% 20% / 10% 40%;
}

#tasks .tasks-wrapper .hapa-kr {
  transform: rotateZ(2deg);
  margin-top: 5vw;
}

#tasks .tasks-wrapper .hapa-global {
  transform: rotateZ(357deg);
}

#tasks .tasks-wrapper .hapa-jp {
  margin-top: 3vw;
}

#tasks .tasks-wrapper .hapa-sg {
  transform: rotateZ(5deg);
}

#tasks .tasks-wrapper .ch-jp {
  transform: rotateZ(9deg);
  margin-bottom: 1vw;
}

#tasks .tasks-wrapper .ch-tw {
  transform: rotateZ(357deg);
  margin: 1vw 0 0 0;
}

#tasks .tasks-wrapper .ch-fashion {
  transform: rotateZ(2deg);
  margin-top: 5vw;
}

#tasks .tasks-wrapper .cm-fashion {
  transform: rotateZ(358deg);
  margin-top: 8vw;
}

#tasks .tasks-wrapper .eotd-jp {
  transform: rotateZ(357deg);
}

#tasks .tasks-wrapper .eotd-global {
  transform: rotateZ(6deg);
  margin: 3vw 0 1vw 0.5vw;
}

#tasks .tasks-wrapper .gemhour {
  margin-top: 8vw;
}

#tasks .tasks-wrapper .task a {
  display: block;
  overflow: hidden;
  height: 4vw;
}

A #tasks .tasks-wrapper .task a img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  opacity: 1;
  transition: all 1s ease-in-out;
}

#tasks .tasks-wrapper .logo {
  position: relative;
  display: flex;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  justify-content: center;
}

#tasks .tasks-wrapper .logo img {
  display: block;
  position: relative;
  width: 20px;
  margin: auto;
}

#tasks .tasks-wrapper .task a img:nth-child(2) {
  position: relative;
  left: -96.5%;
  z-index: 2;
  width: 45%;
  height: 45%;
  object-fit: contain;
  bottom: 30%;
}

#tasks .tasks-wrapper .task a img:nth-child(3) {
  position: relative;
  left: -95.5%;
  z-index: 2;
  width: 45%;
  height: 45%;
  object-fit: contain;
  bottom: 30%;
}

#tasks .tasks-wrapper .task a:hover img {
  opacity: 0;
  transition: all 1s ease-in-out;
}

#tasks .tasks-wrapper .task a .task-site {
  opacity: 0;
  height: 50px;
  width: 50px;
  position: absolute;
  background-position: center;
  top: 0;
}

#tasks .tasks-wrapper .task a:hover .task-site {
  opacity: 1;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

#tasks .tasks-wrapper .task a .site-link {
  color: #fff;
  line-height: 1.6;
  height: 50px;
  text-align: center;
  z-index: 2;
  position: relative;
  top: -65%;
  margin: 0 60px;
}

#tasks .tasks-wrapper .task a .site-link .logo {
  object-fit: contain;
  margin: 0 auto;
  height: 100%;
  filter: drop-shadow(4px 5px 5px rgba(59, 13, 32, 0.374));
}

#tasks .tasks-wrapper .task.hk a .site-link {
  margin: 0 30px;
}

#tasks .tasks-wrapper .ch-jp a .site-link .logo,
#tasks .tasks-wrapper .ch-tw a .site-link .logo {
  filter: drop-shadow(4px 5px 5px rgba(59, 13, 32, 0.374)) brightness(1.3)
}

#tasks .tasks-wrapper .task a .site-link:hover .logo {
  display: none;
}

#tasks .tasks-wrapper .task.hk a .site-link .logo {
  display: none;
}

#tasks .tasks-wrapper .task.hk a .site-link:hover .logo {
  display: block;
}

#tasks .tasks-wrapper .task a .site-link label {
  display: none;
  transition: all 1s ease-in-out;
}

#tasks .tasks-wrapper .task a .site-link:hover {
  opacity: 1;
  backdrop-filter: blur(0);
  border: none;
  color: #000;
}

#tasks .tasks-wrapper .task a .site-link:hover label {
  display: block;
}

#tasks .tasks-wrapper .task .hapa-logo {
  position: relative;
  top: -300px;
  width: 180px;
  object-fit: cover;
  left: -30px;
  height: 100px;
}

#tasks .tasks-wrapper .task .site-link a {
  text-decoration: none;
  border-radius: 5px;
  height: 30px;
  font-size: 13px;
  display: block;
  line-height: 2.4;
  font-weight: 600;
  border: 1px solid #000000b0;
  background: #000;
  color: #fff;
  margin: 0 15px;
}

.task.ch-jp,
.task.ch-tw {}

.task.ch-jp a,
.task.ch-tw a {}

.task.ch-jp a .task-site {
  background-image: url(../images/ch/chlns-jp-b.jpg);
  background-size: cover;
}

.task.ch-tw a .task-site {
  background-image: url(../images/ch/chlns-tw-b.png);
  background-size: cover;
}

.task.ch-fashion a .task-site {
  background-image: url(../images/ch/ch-fashion-b.png);
  background-size: cover;
}

.task.cm-fashion a .task-site {
  background-image: url(../images/ch/cm-fashion-b.png);
  background-size: cover;
}

.task.gemhour img {
  filter: saturate(1.6);
}

.task.hk {
  box-sizing: border-box;
}

.task.hapa-kr {
  background: linear-gradient(358deg, #eddad4, #eedbdf);
}

.task.hapa-kr a .task-site {
  background-image: linear-gradient(90deg, #ffd5d53d, #0f13165c, #eddcdc), url(../images/hk/kr-b.png);
  background-size: cover;
}

.task.hapa-global {
  background: #e8eaf1;
}

.task.hapa-global a .task-site {
  background-image: url(../images/hk/global-b.png);
  background-size: cover;
}

.task.hapa-jp a .task-site {
  background-image: url(../images/hk/jp-b.png);
  background-size: cover;
  background-position: left
}

.task.hapa-tw a .task-site {
  background-image: url(../images/hk/tw-b.png);
  background-size: cover;
  background-position: top;
}

.task.hapa-sg a .task-site {
  background-image: url(../images/hk/sg-b.png);
  background-size: cover;
}

.task .content {
  border-radius: 0 10px 10px 0;
}

.task .content ul {}

.task .content li {
  list-style: none;
  font-size: 17px;
  font-family: "Dovemayo_gothic";
}

.task .content li label {
  padding: 2px 8px;
  width: 100%;
  display: block;
}

.task .content li label img {
  width: 140px;
  padding: 15px;
  background: #006422;
  border-radius: 5px;
}

.task .content li label:first-child {
  font-size: 12px;
}

.skills-container {
  padding: 10px;
}

.skills-container .skills-image {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.skills-container .skills-image .skill {
  background-color: #f0f0f0;
  padding: 3vw;
  outline-offset: -1px;
  height: 30vw;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  margin: 0 1vw;
  filter: saturate(0.7);
  box-shadow: 2px 4px 20px #b3b3b3;
}

/* .skills-container .skills-image .skill:nth-child(2n) {
  margin-top: 10px;
}

.skills-container .skills-image .skill:nth-child(3n) {
  margin-top: 10px;
} */

.skills-container .skills-image .skill:nth-child(3n+1) {
  margin-top: -10px;
}

.skills-container .skills-image .skill:nth-child(3n+2) {
  margin-top: 10px;
}



.skills-container .skills-image .java {}

.skills-container .skills-image .ruby {}

.skills-container .skills-image .visualstudio {}

.skills-container .skills-image .html {}

.skills-container .skills-image .css {}

.skills-container .skills-image .js {}

.skills-container .skills-image .vue {}

.skills-container .skills-image .python {}

.skills-container .skills-image .react {}

.skills-container .skills-image .bootstrap {}

.skills-container .skills-image .sql {}

.skills-container .skills-image .github {}

.skills-container .skills-image .docker {}

.skills-container .skills-image .mysql {}

.skills-container .skills-image .figma {}

.skills-container .skills-image .photoshop {}

.skills-container .skills-image .illustrator {}

.skills-image {
  text-align: center;
}

.skills-container .skills-image .skill img {
  width: 22vw;
  z-index: 1;
  position: relative;
}

.skills-image span {
  text-transform: uppercase;
  font-size: 1vw;
  display: block;
  margin: auto;
  background: #ffffffd5;
  z-index: 1;
  position: relative;
  box-shadow: 5px 1px 10px #ffffff8c;
  width: max-content;
  padding: 2px 5px;
  top: 5px;
  border-radius: 5px;
  ;
}

.contact-text {}

.contact-text .contact-details {
  font-size: 14px;
  font-weight: 600;
  line-height: 2;
}

.contact-text .email,
.contact-text .blog {
  margin-top: 30px;
  font-weight: 700;
  margin-top: 30px;
  font-weight: 700;
  text-align: center;
  padding: 6px 10px;
  border-radius: 5px;
  overflow: hidden;
}

.copyright {
  bottom: 0;
  right: 0;
  position: absolute;
}

.mark1 {
  position: relative;
  display: inline-block;
  background: none;
}

.mark1:before {
  content: "";
  display: block;
  position: absolute;
  width: 110%;
  height: 0.6em;
  top: -2px;
  left: 0;
  z-index: -1;
  background: linear-gradient(45deg, #d8f6be, #bef4b63b);
  border-radius: 2px 5px;
  transform: translate(-0.3em, 0.4em) rotate(-1.5deg) skew(-10deg);
}

.mark2 {
  background: none;
  text-shadow: -3px 0px 2px rgb(235 255 227),
    3px 0px 2px rgba(247, 139, 163, 0.514),
    6px 0px 8px rgba(255, 210, 175, 0.514),
    -6px 0px 8px rgba(221, 255, 120, 0.082);
}

.mark3 {
  position: relative;
  display: inline-block;
  background: linear-gradient(100deg,
      rgba(255, 166, 0, 0) 1%,
      rgb(255 239 188 / 48%) 2.5%,
      rgb(207 255 224 / 49%) 93%,
      rgb(210 234 255 / 40%) 95%,
      rgb(0 255 90 / 13%) 98%),
    linear-gradient(182deg,
      rgba(255, 166, 0, 0),
      rgb(0 250 255 / 15%) 8%,
      rgba(255, 166, 0, 0) 15%);
}

.mark4 {
  border-radius: 1em 0 1em 0.2em;
  background-color: transparent;
  background-image: linear-gradient(-100deg,
      rgb(255 232 232 / 46%) 50%,
      rgb(212 255 201 / 86%) 50%,
      rgb(250 232 232 / 66%) 100%);
  background-size: 200% 100%;
}

.mark5 {
  background: none;
  text-shadow: -3px 0px 2px rgb(181 255 97 / 48%),
    3px 0px 2px rgb(173 215 255 / 80%), 6px 0px 8px rgb(255 210 175),
    -6px 0px 8px rgb(255 255 255);
}

@media screen and (max-width: 1024px) {
  .skills-container {}

  .skills-image span {
    font-size: 12px;
    border: 0;
  }

  .skills-container .skills-image {
    grid-template-columns: repeat(3, 1fr);
  }


  .skills-container .skills-image .skill {}

  .skills-container .skills-image .skill img {}

}