.timeline-wrapper {
    padding: 5vw;

    .t {

        display: grid;
        grid-template-columns: repeat(2, 1fr);

        li {
            list-style: none;
            border-radius: 5px;
            padding: 0.5vw 2vw;
            height: 8vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            overflow: hidden;
            margin: 2vw;

            img {
                position: absolute;
                display: block;
                border: none !important;
                top: -50%;
            }

            .w-logo {
                height: 2vw;
                left: 10%;
            }

            .pb-logo {
                width: 6vw;
                top: -40%;
                right: 10%;
            }

            h3 {
                font-size: 1.75em;
            }

            h4 {
                font-size: 1.2em;
                margin-bottom: 1.2em;
            }

            .work-title {
                display: block;
                font-size: 1.2vw;
            }

            p {
                z-index: 1;
            }
        }

        .t1 {


            .b1 {
                background-color: #f1fff4;
            }

            .b2 {
                background-color: #ddddeb;
            }

            .b3 {
                background-color: rgb(234, 239, 238);
            }

            .b4 {
                background-color: rgb(255, 241, 241);
            }
        }

        .t2 {
            .b1 {
                background-color: #fef3f3;
            }

            .b2 {
                background-color: rgb(230, 233, 216);
            }

            .b3 {
                background-color: rgb(233, 236, 222);
            }

            .b4 {
                background-color: rgb(229, 252, 249);
            }
        }

        .t3 {

            .b1 {
                background-color: #fff1fb;
            }

            .b2 {
                background-color: #fbf0ff;
            }

            .b3 {
                background-color: #cfe9cf;
            }

            .b4 {
                background-color: #edf7de;
            }

        }

        .t4 {
            .b1 {
                background-color: #ecf0e0;
            }

            .b2 {
                background-color: rgb(243, 226, 226);
            }

            .b3 {
                background-color: rgb(227, 232, 240);
            }

            .b4 {
                background-color: rgb(240, 249, 231);
            }
        }


        li:before {
            content: "";
            -moz-transition: -moz-transform 0.2s ease-in;
            -o-transition: -o-transform 0.2s ease-in;
            -webkit-transition: -webkit-transform 0.2s ease-in;
            transition: transform 0.2s ease-in;
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            display: none;
            margin: 0.5em 0.5em 0.5em -0.5em;
            position: absolute;
            top: 1em;
            left: -2.02em;
            width: 1em;
            height: 1em;
            border-radius: 5px;
        }


        li p span {
            display: block;
            font-size: 12px;
        }

    }

    .t:before {
        background: #202026ed;
        content: "";
        margin-left: -3px;
        position: absolute;
        top: 1em;
        left: 2em;
        width: 5px;
        height: 100%;
        border-radius: 5px;
        box-shadow: 10px 5px 10px #0000007d;
        display: none;
    }

}

@media screen and (max-width: 1024px) {

    .timeline-wrapper {

        .t {

            display: block;

            .t1 {}

            .t2 {}

            .t3 {}

            .t4 {}


            li {

                .work-title {
                    font-size: 16px;
                }

                /* background: black;
                color: #fff */

            }
        }

    }

}