:root {
    --blur: blur(120px);
}

.blur {
    position: absolute;
    width: 50%;
    height: 50%;
    filter: blur(60px);
    z-index: 0;
}

.b1 {
    top: 0;
    left: 0;
}

.b2 {
    right: 0;
    top: 0;
}

.b3 {
    bottom: 0;
    left: 0;
}

.b4 {
    bottom: 0;
    right: 0;
}

.shopify {
    background: linear-gradient(90deg, #66896c, transparent, #a9b3a7, transparent, #acb9aa, #a1c699e8);

    .b1 {
        background-color: #b7dcff;
    }

    .b2 {
        background-color: rgb(139, 139, 255);
    }

    .b3 {
        background-color: rgb(163 255 80);
    }

    .b4 {
        background-color: rgb(125, 255, 125);
    }

}

.cafe24 {

    background: linear-gradient(90deg, #b6bbe3, transparent, #a7b0b3a6, transparent, transparent, #9aadd9, #d1ecff, #abcaffe8);

    .b1 {
        background-color: #fbffcd;
    }

    .b2 {
        background-color: #5f5fff;
    }

    .b3 {
        background-color: #1693ff;
    }

    .b4 {
        background-color: #3671c6;
    }
}

.webstorm {

    background: linear-gradient(90deg, #ffffff00, transparent, #a7b0b3a6, transparent, transparent, #d6e1e7, #fff2d1, #abffb8e8);

    .b1 {
        background-color: #fbfdff;
    }

    .b2 {
        background-color: #ff5a05;
    }

    .b3 {
        background-color: #5fbeff;
    }

    .b4 {
        background-color: #7eff6d;
    }
}

.java {

    .b1 {
        background-color: #ffae00;
    }

    .b2 {
        background-color: rgb(169, 118, 0);
    }

    .b3 {
        background-color: rgb(255, 83, 45);
    }

    .b4 {
        background-color: rgb(104, 3, 0);
    }

}

.ruby {
    background: linear-gradient(90deg, #891010bf, #751d1d9c, #3b191ca6, #382424cf, #b41c1cb8, #030303, #40170b8f, #6219198a, #8a2a2ac9, #7f1522db, #000000de);

    .b1 {
        background-color: #ff0000;
    }

    .b2 {
        background-color: #ffffff;
    }

    .b3 {
        background-color: #ffd1d1;
    }

    .b4 {
        background-color: #500009;
    }
}

.visualstudio {
    background: linear-gradient(90deg, #ffffff00, transparent, #a7b0b3a6, transparent, transparent, #d6e1e7, #6f9bbe8f, transparent, transparent, #d6e1e7, #abbeffe8);

    .b1 {
        background-color: #0099ff;
    }

    .b2 {
        background-color: #ffffff;
    }

    .b3 {
        background-color: #5fbeff;
    }

    .b4 {
        background-color: #00ffdd;
    }
}

.java {
    background: linear-gradient(90deg, #ffffff00, transparent, #a7b0b3a6, transparent, transparent, #d6e1e7, #6f9bbe8f, transparent, transparent, #c2979c54, #ff83836b);

    .b1 {
        background-color: #4b3914;
    }

    .b2 {
        background-color: rgb(241, 233, 215);
    }

    .b3 {
        background-color: rgb(153, 28, 0);
    }

    .b4 {
        background-color: rgb(117, 46, 44);
    }

}

.html {
    background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #ff8a73 0, #ff8d48 30%, #ff6e51 50%, #f4502f 70%, #ab4d00 100%);
    background-size: 1px 1px, 1px 1px, 1px 1px, 1px 1px, 1px 1px, 150% 150%;

    .b1 {
        background-color: #6d4100;
    }

    .b2 {
        background-color: #ff8000;
    }

    .b3 {
        background-color: #7a0000;
    }

    .b4 {
        background-color: #ff001e;
    }
}

.illustrator {
    background: linear-gradient(178deg, #18292f40, #d6eaff21, #d2ff810f, #18273a12, #ffdb6f38, #171a1991, #403d2b5e, #6c684f52);

    .b1 {
        background-color: #473600;
    }

    .b2 {
        background-color: rgb(255, 214, 139);
    }

    .b3 {
        background-color: rgb(255, 247, 21);
    }

    .b4 {
        background-color: rgb(255, 66, 52);
    }

}

.react {
    background: linear-gradient(93deg, #00438247, #b2ebff3d, #9fe6ff70, #deebfb85, #6ebbd6c7, #6ee4f9, #59afcef0, #042957f0);

    .b1 {
        background-color: #ffffff;
    }

    .b2 {
        background-color: #c7fffc;
    }

    .b3 {
        background-color: #005e98;
    }

    .b4 {
        background-color: #3671c6;
    }
}

.python {
    background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #ff8a73 0, #ffd748 30%, #8b870e 50%, #493701 70%, #ab9300 100%);
    background-size: 1px 1px, 1px 1px, 1px 1px, 1px 1px, 1px 1px, 150% 150%;

    .b1 {
        background-color: #000f30;
    }

    .b2 {
        background-color: #ffffef;
    }

    .b3 {
        background-color: #e5ff00;
    }

    .b4 {
        background-color: #fdff9c;
    }
}

.vue {
    background: linear-gradient(46deg, #10891640, #344b334f, #3f4c5f70, #6583a585, #64775f6e, #0e605d, #021222f0, #042957f0);

    .b1 {
        background-color: #086ac6;
    }

    .b2 {
        background-color: rgb(139, 139, 255);
    }

    .b3 {
        background-color: rgb(233, 255, 213);
    }

    .b4 {
        background-color: rgb(125, 255, 125);
    }

}

.css {
    background: linear-gradient(0deg, #103d89bf, #1d3e759c, #19283ba6, #3f669500, #00034d00, #2a418ac9, #0026a9, #000000de);

    .b1 {
        background-color: #fbffcd;
    }

    .b2 {
        background-color: #c7c7ff;
    }

    .b3 {
        background-color: #d1edff;
    }

    .b4 {
        background-color: #3671c6;
    }
}

.figma {
    background: linear-gradient(150deg, #18292f40, #d6eaff21, #d2ff810f, #18273a12, #6fc0ff38, #0e3f2f3b, #2984415e, #407dd652);

    .b1 {
        background-color: #0099ff;
    }

    .b2 {
        background-color: #ff5500;
    }

    .b3 {
        background-color: #5fbeff;
    }

    .b4 {
        background-color: #ffc400;
    }

}

.github {
    background: linear-gradient(180deg, black, transparent);

    .b1 {
        background-color: #0e0e0e;
    }

    .b2 {
        background-color: #cfcfcf;
    }

    .b3 {
        background-color: #f0f9ff;
    }

    .b4 {
        background-color: #000000;
    }
}

.docker {
    background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #7395ff 0, #48ebff 30%, #51b8ff 50%, #2fb3f4 70%, #0059ab 100%);
    background-size: 1px 1px, 1px 1px, 1px 1px, 1px 1px, 1px 1px, 150% 150%;

    .b1 {
        background-color: #188fff;
    }

    .b2 {
        background-color: rgb(0, 76, 255);
    }

    .b3 {
        background-color: rgb(0, 114, 120);
    }

    .b4 {
        background-color: rgb(125, 196, 255);
    }

}

.mysql {
    background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #ff8a73 0, #ff8d48 30%, #ff6e51 50%, #f4502f 70%, #ab4d00 100%);
    background-size: 1px 1px, 1px 1px, 1px 1px, 1px 1px, 1px 1px, 150% 150%;

    .b1 {
        background-color: #f4bd02;
    }

    .b2 {
        background-color: #1f1f1f;
    }

    .b3 {
        background-color: #009dff;
    }

    .b4 {
        background-color: #db741f;
    }
}

.js {
    background: linear-gradient(91deg, #10891640, #344b334f, #d2ff810f, #3f669500, #678d5b5c, #348a2a3b, #2ba9005e, #6fb47ed4);

    .b1 {
        background-color: #f1ffd6;
    }

    .b2 {
        background-color: #77ff00;
    }

    .b3 {
        background-color: #ffffff;
    }

    .b4 {
        background-color: #263727;
    }

}

.bootstrap {
    background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #8f73ff 0, #7048ff 30%, #0e1c8b 50%, #190149 70%, #470570 100%);
    background-size: 1px 1px, 1px 1px, 1px 1px, 1px 1px, 1px 1px, 150% 150%;

    .b1 {
        background-color: #0400ff;
    }

    .b2 {
        background-color: #e0cdff;
    }

    .b3 {
        background-color: #000000;
    }

    .b4 {
        background-color: #dfceff;
    }
}

.sql {
    background: linear-gradient(222deg, #ffffff40, #d6eaff21, #d2ff810f, #18273a12, #6fc0ff38, #2a6e8a3b, #8899a35e, #ffffff52);

    .b1 {
        background-color: #003d75;
    }

    .b2 {
        background-color: rgb(0, 30, 90);
    }

    .b3 {
        background-color: rgb(0, 160, 252);
    }

    .b4 {
        background-color: rgb(16, 80, 133);
    }

}

.photoshop {
    background: linear-gradient(150deg, #18292f40, #d6eaff21, #d2ff810f, #18273a12, #6fc0ff38, #0e3f2f3b, #2954845e, #407dd652);

    .b1 {
        background-color: #4f5569;
    }

    .b2 {
        background-color: #0000ff;
    }

    .b3 {
        background-color: #019eff;
    }

    .b4 {
        background-color: #c7cdff;
    }
}

.protools {
    background: linear-gradient(150deg, #18292f40, #d6eaff21, #d2ff810f, #18273a12, #6fc0ff38, #0e3f2f3b, #2946845e, #407dd652);

    .b1 {
        background-color: #9000ff;
    }

    .b2 {
        background-color: #d9c4ff;
    }

    .b3 {
        background-color: #1c002f;
    }

    .b4 {
        background-color: #ffdafb;
    }
}