@import url('https://fonts.googleapis.com/css2?family=Gloock:ital,wght@0,400;0,700&display=swap');

@font-face {
  font-family: 'Hahmlet-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Gloock", "Hahmlet-Regular", sans-serif;
}

.container {
  height: auto;
  background-image: url(../images/background5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: background-image 0.25s ease-in-out;
}

section {
  height: 100vh;
  overflow: hidden;
}

#main h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 600%;
  color: #151515f3;
  text-shadow: 1px 3px 6px #30385bcc;
  letter-spacing: -0.04em;
  z-index: 2;
  white-space: nowrap;
}

.objects-left,
.objects-center,
.objects-right {
  filter: saturate(0.8);
}

.objects-left {
  position: fixed;
  left: 0;
  bottom: 0;
}

.objects-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.objects-right {
  position: fixed;
  right: 0;
  top: 0;
}

.img-01 {
  width: 280px;
  position: absolute;
  z-index: 1;
  animation: floating1 5s ease-in-out infinite;
  bottom: 100px;
}

.img-10 {
  width: 120px;
  position: absolute;
  left: 0px;
  z-index: 0;
  animation: floating2 8s ease-in-out infinite;
}

.img-09 {
  width: 250px;
  left: 140px;
  position: absolute;
  top: 200px;
  z-index: -1;
  animation: floating8 3s ease-in-out infinite;
}

.img-06 {
  width: 120px;
  position: absolute;
  z-index: 0;
  left: 20px;
  bottom: 400px;
  animation: floating6 3s ease-in-out infinite;
}


.img-07 {
  width: 500px;
  left: -150px;
  bottom: -100px;
  position: relative;
  animation: floating7 6s ease-in-out infinite;
}

.img-03 {
  width: 300px;
  z-index: 0;
  top: 0px;
  left: 80px;
  position: relative;
  animation: floating3 10s ease-in-out infinite;
}

.img-04 {
  width: 120px;
  position: absolute;
  top: 300px;
  z-index: 1;
  animation: floating4 5s ease-in-out infinite;
}

.img-05 {
  width: 250px;
  left: -50px;
  bottom: 200px;
  z-index: -1;
  position: absolute;
  animation: floating5 10s ease-in-out infinite;
}

.img-13 {
  width: 100px;
  position: absolute;
  right: 200px;
  top: 250px;
  z-index: 1;
  animation: floating5 3s ease-in-out infinite;
}

.img-55 {
  width: 400px;
  right: -100px;
  position: absolute;
  top: -150px;
  animation: floating55 10s ease-in-out infinite;
}

.img-12 {
  width: 240px;
  position: absolute;
  top: 40px;
  right: 80px;
  z-index: 1;
  animation: floating12 5s ease-in-out infinite;
}

@keyframes floating1 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(90px);
  }
}

@keyframes floating3 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(90px);
  }
}

@keyframes floating4 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(120px);
  }
}

@keyframes floating5 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80px);
  }
}

@keyframes floating12 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80px);
  }
}

@keyframes floating55 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(50px);
  }
}

@keyframes floating6 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(45px);
  }
}

@keyframes floating8 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(50px);
  }
}

@keyframes floating2 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(100px);
  }
}

@keyframes floating7 {

  0%,
  100% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(80px) scale(0.9);
  }
}

@keyframes scale10 {
  0% {
    transform: scale(0.7);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.7);
  }
}

@-webkit-keyframes scale4 {
  0% {
    -webkit-transform: scale(0.7);
    opacity: 0.6;
  }

  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.7);
    opacity: 0.6;
  }
}

.pagination {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.pagination ul li {
  background-color: #171719;
  width: 15px;
  height: 30px;
  list-style: none;
  border-radius: 30px;
  box-shadow: 1px 3px 6px #30385bcc;
  ;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}

.pagination ul li:not(:first-of-type) {
  margin-top: 15px;
}

.pagination ul li:hover {
  background-color: #ffffff62;
}

.pagination ul li.active {
  background-color: rgb(240 227 242);
}

.pagination ul li:nth-child(2).active {
  background-color: #ffe18a;
}

.pagination ul li:nth-child(3).active {
  background-color: #ff7bad;
}

.pagination ul li:nth-child(4).active {
  background-color: #7b90ff;
}

#career .table {
  text-align: center;
  display: flex;
  column-gap: 80px;
  display: none;
}

.timeline {
  margin: 0 auto;
  position: relative;
  max-width: 45%;
  top: 30%;
  transform: translateY(-50%);
}

.timeline:before {
  background: #202026ed;
  content: "";
  margin-left: -3px;
  position: absolute;
  top: 1em;
  left: 2em;
  width: 5px;
  height: 100%;
  border-radius: 5px;
  box-shadow: 10px 5px 10px #0000007d;
  display: none;
}

.timeline-event {
  position: relative;
  list-style: none;
  left: 45px;
  padding: 5px;
  margin: 20px 0 30px;
  background: linear-gradient(45deg, #f2f5ff, #f1ffe859);
  border-radius: 10px;
  box-shadow: 1px 3px 2px #30385b21;
  font-family: "Hahmlet-Regular";
}

.timeline-event a {
  height: 100%;
  display: block;
  border: none !important;
}

.timeline-event .winc-logo {
  width: 140px;
  margin-top: 7px;
  margin-bottom: -7px;
}

.timeline-event .ppb-logo {
  width: 120px;
  margin-left: 20px;
  margin-bottom: -5px;
  margin-top: 15px;
}

.timeline-event:nth-child(1) {
  background-image: linear-gradient(270deg, #fdffbd66, #fff1d70d, #ffefc96b), url(../images/www.png);
  background-size: cover;
  background-position: center;
}

.timeline-event:nth-child(2) {
  background: linear-gradient(270deg, #e0ebb76b, #fff1d745, #ffffd1), url(../images/w.png);
  background-size: cover;
  background-position: center;
}

.timeline-event:nth-child(3) {
  background: linear-gradient(270deg, #ffe6d728, #ecffedc0, #fffae1), url(../images/ww.png);
  background-size: cover;
  background-position: center;
}

.timeline-event:nth-child(4) {
  background: linear-gradient(270deg, #d4e3ff7a, #ffeeeacc, #f3feffdc), url(../images/wwww.png);
  background-size: cover;
  background-position: center;
}

.timeline-event h3 {
  font-size: 1.75em;
}

.timeline-event h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

.timeline-event .career-title {
  display: block;
  width: fit-content;
  border-radius: 20px;
  font-size: 120%;
}

.timeline-event:before {
  content: "";
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 1em;
  left: -2.02em;
  width: 1em;
  height: 1em;
  border-radius: 5px;
}

.timeline-event:nth-child(1):before {
  outline: 10px solid rgba(211, 223, 255, 0.45);
  background-color: #fbffeb;
}

.timeline-event:nth-child(2):before {
  outline: 10px solid #ecbba563;
  background-color: #fff9eb;
}

.timeline-event:nth-child(3):before {
  outline: 10px solid #e6ffac63;
  background-color: #fefdd1;
}

.timeline-event:nth-child(4):before {
  outline: 10px solid #a5ece263;
  background-color: #e3f0df;
}

.timeline-title {
  line-height: 1.8;
  text-shadow: 5px 2px 10px #ffffff41;
  display: inline-block;
  padding: 7px 15px 10px 20px;
  letter-spacing: 0.02em;
}

.timeline-event p span {
  display: block;
}

.timeline-event:nth-child(2) a {
  color: #c3e9dc;
}

.container:before {
  --size: 60px;
  --line: hsl(0deg 0% 100% / 15%);
  content: '';
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size), linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
  -webkit-mask: linear-gradient(-15deg, transparent 30%, white);
  mask: linear-gradient(-15deg, transparent 30%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
}

section h2 {
  font-size: 60px;
  letter-spacing: -0.01em;
  padding-top: 30px;
  padding-left: 30px;
  line-height: 0.8;
  z-index: 1;
  position: relative;
  width: fit-content;
  color: #151515f3;
  text-shadow: 1px 3px 2px #30385b40;
}

#career h2 {
  padding-top: 0;
}

.works-container {
  height: 80vh;
  left: 50px;
  position: relative;
}

.works {
  display: flex;
  top: 53%;
  transform: translateY(-50%);
  flex-wrap: nowrap;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.works .work {
  height: 480px;
  margin-right: 60px;
  display: flex;
  box-shadow: 1px 3px 2px #30385b21;
  border-radius: 10px;
}

.works .work a {
  width: 370px;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.works .work a img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
  opacity: 1;
  transition: all 1s ease-in-out;
}


.works .work a:hover img {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.works .work a .work-site {
  opacity: 0;
  background-color: #fff;
  width: 370px;
  position: absolute;
  background-position: center;
  height: 100%;
  transition: all 1s ease-in-out;
  top: 0;
}


.works .work a:hover .work-site {
  opacity: 1;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.works .work a .work-site .site-link {
  color: #fff;
  padding: 7px 10px;
  border-radius: 20px;
  line-height: 1.6;
  height: 26px;
  margin: 20px 80px;
  margin-top: 215px;
}

.works .work.hapa-global a .work-site .site-link {
  background: linear-gradient(45deg, #b1a8caab, #cea4a4cf, #ffe3e3);
}

.works .work.hapa-jp a .work-site .site-link {
  background: linear-gradient(230deg, #f3d3b59e, #abbebd8a, #75737c47);
}

.works .work.hapa-tw a .work-site .site-link {
  background: linear-gradient(175deg, #e9decdb3, #5a470d42, #e0984a85);
}

.works .work.hapa-kr a .work-site .site-link {
  background: linear-gradient(200deg, #a88775b3, #bd949470, #dfcdb88f);
}

.works .work.hapa-sg a .work-site .site-link {
  background: linear-gradient(290deg, #fccae057, #dfb89691, #eabbd147);
}

.works .work.chuu-jp a .work-site .site-link {
  background: linear-gradient(210deg, #afb28f57, #bc8d4152, #c6a8a147);
}

.works .work.chuu-tw a .work-site .site-link {
  background: linear-gradient(95deg, #fcf8d6cf, #fff9b94d, #f6d5a167, #eec182e0, #efa47244);
}

.works .work.chuu-fashion a .work-site .site-link {
  background: linear-gradient(95deg, #ff72cd6b, #fff9b94d, #c4ae9e67, #ebb2ce8a, #e3edff7d);
}

.works .work.chuumade-fashion .work-site .site-link {
  background: linear-gradient(95deg, #fcf8d6cf, #fff9b94d, #f6d5a167, #43765570, #2b401f87);
}

.works .work.gemhour .work-site .site-link {
  background: linear-gradient(95deg, #8b7a95cf, #fff9b94d, #7e6a6667, #87859870, #3d3e3e5c);
}

.works .work.eotd-global .work-site .site-link {
  background: linear-gradient(165deg, #f2ebdb4a, #b79a7e2e, #53504659, #aba9bc70, #3d3e3e5c);
}

.works .work.eotd-jp .work-site .site-link {
  background: linear-gradient(95deg, #5b483d4a, #b7927e4d, #53504659, #524f7070, #3d3e3e5c);
}

.works .work a .work-site .site-link:hover {
  background: #000;
  transition: all 1s ease-in-out;
}


.works .work .hapa-logo {
  position: relative;
  top: -300px;
  width: 180px;
  object-fit: cover;
  left: -30px;
  height: 100px;
}

.works .work .site-link {
  text-align: center;
  z-index: 2;
  position: relative;
}


.works .work .site-link a {
  text-decoration: none;
  border-radius: 5px;
  height: 30px;
  font-size: 13px;
  display: block;
  line-height: 2.4;
  font-weight: 600;
  border: 1px solid #000000b0;
  background: #000;
  color: #fff;
  margin: 0 15px;
}

.works .work .site-link a:hover {
  background: #ffffffe0;
  color: #000;
}

.work-title {
  margin-left: -70px;
  margin-top: -25px;
}

.work-title h2,
.skills-title h2 {
  font-size: 68px;
  letter-spacing: -0.07em;
  margin: 0;
}

.work h3 {
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto;
  display: block;
  letter-spacing: 0.04em;
  font-family: "DaeguCatholicUniversity";
}

.work.gemhour img {
  filter: saturate(1.6);
}

.work.hapa-global .content {
  background: linear-gradient(270deg, #edd9e4, #f5dbe8, #f5d0df, #eabecf);
}

.work.hapa-global a .work-site {
  background-image: linear-gradient(270deg, #eabecf, #c8879d26, #4a49540d, #de82af82), url(../images/hapakristin-global-b.png);
  background-size: cover;
}

.work.hapa-sg .content {
  background: linear-gradient(270deg, #f7e5e9, #e7dceaf0, #dbd9e7, #d1cfdd, #c6c4d2);
}

.work.hapa-sg a .work-site {
  background-image: url(../images/hapakristin-sg-b.png);
  background-size: cover;
}

.work.hapa-jp .content {
  background: linear-gradient(135deg, #000606, #030712f0, #1d2d2aed, #605955);
  color: #fff;
}

.work.hapa-jp a .work-site {
  background-image: linear-gradient(180deg, #000606, #f4ffde12, #52716c12, #6c5b3540, transparent), url(../images/hapakristin-jp-b.jpg);
  background-size: cover;
}

.work.hapa-tw .content {
  background: linear-gradient(95deg, #dfe4ed, #ebf1fa, #ebf1fa, #f0f5fa, #f7f7f6, #fcf5edcc);
}

.work.hapa-tw a .work-site {
  background-image: linear-gradient(90deg, #b19a7aa3, #dac5b712, #aeb3c317, #e2e7f0), url(../images/hapakristin-tw-b.jpg);
  background-size: cover;
}

.work.hapa-kr .content {
  background: linear-gradient(270deg, #302620e6, #493931ed, #5b4b45f5, #78615c);
  color: #fff;
}

.work.hapa-kr a .work-site {
  background-image: linear-gradient(90deg, #5a342999, #7055472b, #7f594e30, #5f3c3245, #79645ed4, #78615c), url(../images/hapakristin-kr-b.jpg);
  background-size: cover;
}

.work.chuu-jp .content {
  background: linear-gradient(143deg, #6a5c4a, #433f2deb, #535540f5, #47582bcf);
  color: #fff;
}

.work.chuu-jp a .work-site {
  background-image: linear-gradient(240deg, #2b1b01, #376a2e4d, #e8ff8d3d, #e4eaa352, #4323024f, #14250157), url(../images/chuulens-jp-b.jpg);
  background-size: cover;
}

.work.chuu-tw .content {
  background: linear-gradient(95deg, #fcf8d6cf, #fff6cce3, #f6d5a1e8, #eec182e0, #efa372);
}

.work.chuu-tw a .work-site {
  background-image: linear-gradient(252deg, #fff7ccdb, #fffaceb5, #f5ff9b26, #c2a06d3d, #d0b579c4), url(../images/chuulens-tw-b.png);
  background-size: cover;
}

.work.chuu-fashion {
  background: #ffbad7;
}

.work.chuu-fashion a .work-site {
  background-image: linear-gradient(95deg, #ffe10f54, #6c424236, #ffa1e21c, #91bfde54, #ffbad7eb, #ffbad7), url(../images/chuu-fashion-b.jpg);
  background-size: cover;
}

.work.chuumade-fashion a .work-site {
  background-image: url(../images/chuumade-fashion-b.png);
  background-size: cover;
}

.work.chuumade-fashion .content {
  background: linear-gradient(270deg, #1a201acc, #121311e3, #131d16eb, #10160cf2, #050606);
  color: #fff;
}

.work.gemhour .content {
  background: linear-gradient(310deg, #292129, #29292d, #343636, #464240, #332f20e6, #362f24);
  color: #fff;
}

.work.gemhour a .work-site {
  background-image: linear-gradient(308deg, #44434b, #938d5938, #91966a26, #664d2700, #403f47), url(../images/gemhour-b.png);
  background-size: cover;
}

.work.eotd-global .content {
  background: linear-gradient(90deg, #f6f6f6, #eceaef, #faf8f8db, #fffaf2, #efead4eb);
}

.work.eotd-global a .work-site {
  background-image: linear-gradient(90deg, #717f9861, #110e1100, #f7f6f3), url(../images/eotd-b.jpg);
  background-size: cover;
  background-position: right;
}


.work.eotd-jp .content {
  background: linear-gradient(0deg, #1b1216, #110e11f2, #110e0ceb);
  color: #fff;
}

.work.eotd-jp a .work-site {
  background-image: linear-gradient(90deg, #9c80799e, #110e1100, #1c161b), url(../images/eotd-jp-b.png);
  background-size: cover;
}

.work.eotd-global .content {}

.work .content {
  padding: 50px;
  border-radius: 0 10px 10px 0;
  margin-left: -1px;
}

.work .content ul {
  line-height: 1.7;
}

.work .content li {
  list-style: none;
  font-size: 17px;
  padding-bottom: 15px;
  font-family: "Hahmlet-Regular";
}

.work .content li label {
  padding: 2px 8px;
  width: 100%;
  display: block;
}

.work .content li label:first-child {
  font-size: 12px;
}

.skills-container {
  width: 1020px;
  margin: 0 auto;
  background: #ffffff5e;
  border-radius: 25px;
}

.skills-container .skills-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}

.skills-container .skills-image .skill {
  flex-basis: 70px;
  flex-grow: 0;
  text-align: center;
  word-wrap: break-word;
  padding: 0 5px;
}

.skills-container .skills-image .skill:nth-child(1) span {
  color: #277314;
}

.skills-container .skills-image .skill:nth-child(2) span {
  color: #3974ff;
}

.skills-container .skills-image .skill:nth-child(3) span {
  color: #3f3f3f;
}

.skills-container .skills-image .skill:nth-child(6) span {
  color: #0067cf;
}

.skills-image {
  text-align: center;
}

.skills-image img {
  width: 50px;
}

.skills-image span {
  font-family: auto;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -0.04em;
  padding-bottom: 10px;
  font-size: 13px;
  margin-top: -3px;
  display: block;
}

.skills-text {
  width: 880px;
  margin: 0 auto;
  padding: 50px;
}

.skills-text p {
  font-size: 14px;
  font-weight: 600;
  line-height: 2;
}

.skills-text .email,
.skills-text .blog {
  margin-top: 30px;
  font-weight: 700;
  margin-top: 30px;
  font-weight: 700;
  text-align: center;
  padding: 6px 10px;
  border-radius: 5px;
  overflow: hidden;
}

.copyright {
  bottom: 0;
  right: 0;
  position: absolute;
}

.mark1 {
  position: relative;
  display: inline-block;
  background: none;
}

.mark1:before {
  content: "";
  display: block;
  position: absolute;
  width: 110%;
  height: 0.6em;
  top: -2px;
  left: 0;
  z-index: -1;
  background: linear-gradient(45deg, #d8f6be, #bef4b63b);
  border-radius: 2px 5px;
  transform: translate(-0.3em, 0.4em) rotate(-1.5deg) skew(-10deg);
}

.mark2 {
  background: none;
  text-shadow: -3px 0px 2px rgb(235 255 227),
    3px 0px 2px rgba(247, 139, 163, 0.514),
    6px 0px 8px rgba(255, 210, 175, 0.514),
    -6px 0px 8px rgba(221, 255, 120, 0.082);
}

.mark3 {
  position: relative;
  display: inline-block;
  background: linear-gradient(100deg,
      rgba(255, 166, 0, 0) 1%,
      rgb(255 239 188 / 48%) 2.5%,
      rgb(207 255 224 / 49%) 93%,
      rgb(210 234 255 / 40%) 95%,
      rgb(0 255 90 / 13%) 98%),
    linear-gradient(182deg,
      rgba(255, 166, 0, 0),
      rgb(0 250 255 / 15%) 8%,
      rgba(255, 166, 0, 0) 15%);
}

.mark4 {
  border-radius: 1em 0 1em 0.2em;
  background-color: transparent;
  background-image: linear-gradient(-100deg,
      rgb(255 232 232 / 46%) 50%,
      rgb(212 255 201 / 86%) 50%,
      rgb(250 232 232 / 66%) 100%);
  background-size: 200% 100%;
}

.mark5 {
  background: none;
  text-shadow: -3px 0px 2px rgb(181 255 97 / 48%),
    3px 0px 2px rgb(173 215 255 / 80%), 6px 0px 8px rgb(255 210 175),
    -6px 0px 8px rgb(255 255 255);
}

@media screen and (max-width: 768px) {
  .pagination ul li {}

  #main h1 {
    font-size: 180%;
  }

  section h2 {
    font-size: 170%;
  }


  .timeline {
    top: 40%;
    max-width: 75%;
    margin: 5%;
  }

  .timeline-event .career-title {
    font-size: 90%;
  }

  .timeline-event p span {
    font-size: 80%
  }
}