.timeline {
    font-size: 3.5vw;
    line-height: 1.6;

    .t {
        margin-top: 7vw;
        letter-spacing: -0.02em;
        padding-bottom: 4px;

        span {
            display: block;
            font-size: 4.1vw;
            letter-spacing: -0.05em;
        }

        p {
            font-size: 3.7vw !important;
            line-height: 2;
            padding: 0 !important;
        }

        .logo {
            margin-bottom: -2vw;
        }

        .s-logo {
            height: 5.5vw !important;
            padding-bottom: 7px;
        }

        .p-logo {
            height: 18px !important;
            margin-left: 3px;
        }

        .w-logo {
            height: 8vw !important;
            margin-left: -4vw;
            filter: contrast(1.2);
            padding-bottom: 2px;
        }

        .kg-logo {
            width: 25vw !important;
            padding-bottom: 5px;
        }

        .kg-image,
        .s-image,
        .w-image {
            height: 35vw;
            width: 100%;
            object-fit: cover;
            object-position: 70%;
            box-shadow: -1px -0.5px 3px #b2b2b2, 1px -0.5px 1px #aaaaaa;
            border-radius: 20px;
            margin: 2vw 0 0;
            padding: 2px;
        }

        .kg-image {
            filter: invert(1) hue-rotate(250deg) saturate(1.2) contrast(0.9) brightness(1.4);
        }

        .s-image {
            filter: contrast(1.4) saturate(1.8);
        }

    }

}
