.timeline {
    font-size: 3.5vw;
    line-height: 1.6;

    .t {
        margin-top: 7vw;
        letter-spacing: -0.02em;

        span {
            display: block;
            font-size: 4vw;
            letter-spacing: -0.05em;
        }

        p {
            font-size: 3.5vw !important;
            line-height: 2;
            padding: 0 !important;
        }

        .s-logo {
            height: 24px !important;
            margin-bottom: 2px;
        }

        .p-logo {
            height: 24px !important;
            margin-bottom: 2px;
            margin-left: 3px;
        }

        .w-logo {
            height: 32px !important;
            margin-left: -5px;
            margin-bottom: -2px;
        }

        .kg-logo {
            width: 25vw !important;
        }

        .kg-image,
        .s-image,
        .w-image {
            height: 35vw;
            width: 100%;
            object-fit: cover;
            object-position: 70%;
            box-shadow: -1px -0.5px 3px #b2b2b2, 1px -0.5px 1px #aaaaaa;
            border-radius: 20px;
            margin: 2vw 0;
        }

        .kg-image {
            filter: invert(1) hue-rotate(274deg) saturate(1.4) contrast(0.7) brightness(1.2);
        }

        .s-image {
            filter: contrast(1.4) saturate(1.7);
        }

    }

}
