.timeline {
    font-size: 3.5vw;
    line-height: 1.6;

    .t {
        margin-top: 7vw;
        letter-spacing: -0.02em;

        span {
            display: block;
            font-size: 4vw;
            letter-spacing: -0.05em;
        }

        .s-logo {
            height: 18px !important;
        }

        .w-logo {
            height: 25px !important;
            margin: 2vw 0 0 -5px;
        }

        .kg-logo {
            width: 21vw !important;
            margin: 3vw 0 0;
        }

        .kg-image,
        .s-image,
        .w-image {
            height: 35vw;
            width: 100%;
            object-fit: cover;
            object-position: 70%;
        }

        .kg-image {
            filter: invert(1) hue-rotate(274deg) saturate(1.4) contrast(0.7) brightness(1.2);
        }

        .s-image {
            filter: contrast(1.4) saturate(1.7);
        }

    }

}
