.alphabets img {
    width: 50px;
    margin-right: -17px;
}

.alphabets {
    display: block;
    margin: 0 auto;
    width: fit-content;
    left: -20px;
    position: relative;
}

.hapa .alphabets img {
    width: 80vw;
    height: 80px;
}

.eotd .alphabets {
    left: -35px;
}

.eotd .alphabets img:nth-child(1) {
    margin-bottom: -5px;
    width: 80px;
}

.eotd .alphabets img {
    width: 70px;
    margin-right: -42px;
}

.gmhr .alphabets img {
    width: 280px;
    margin-left: 3px;
}