<!DOCTYPE HTML>
<html>
<head>
    <title>Jihyung's Blog 🐣</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <link href="../../../assets/css/main.css" rel="stylesheet"/>
</head>
<body>

<div id="wrapper" class="study vue">

    <header id="header">
        <div class="content">
            <div class="inner">
                <h1>Jihyung's Study Notes (Vue)</h1>
                <p>지형이의 Vue 공부 메모장입니다♥</p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#vue1">기본 디렉티브</a></li>
                <li><a href="#vue1">moment.js</a></li>
                <li><a href="#vue1">vue</a></li>
                <li><a href="#vue1">vue</a></li>
                <li><a href="#vue1">vue</a></li>
            </ul>
        </nav>
    </header>

    <div id="main">
        <article id="vue1">
            <h2 class="major">Basic Directives</h2>
            <div class="description">
                <p>
                    디렉티브(Directive) <br>
                    디렉티브는 v- 접두사가 있는 특수 속성이다.
                    디렉티브 속성 값은 단일 JavaScript 표현식이 된다 (v-for는 예외).
                    디렉티브의 역할은 표현식의 값이 변경될 때 사이드 이펙트를 반응적으로 DOM에 적용한다.
                </p>
                <p>template <br>template는 여러 개의 태그들을 묶어서 처리해야 할 경우에 template를 사용한다. v-if, v-for, component등과 함께 많이 사용한다.</p>
                <p>v-text <br>v-text는 자바스크립트의 innerText와 같은 역할을 한다. html 태그가 적용되지 않고 문자열이 그대로 보여진다.</p>
                <p>v-bind <br>v-bind는 엘리먼트의 속성과 바인딩 처리를 위해서 사용한다. 약어로 ":"로 사용이 가능하다.</p>
                <p>v-html <br>v-html은 자바스크립트의 innerHTML과 같은 역할을 한다. html 태그가 적용된 화면이 보여진다.
                    이중 중괄호(mustaches)는 HTML이 아닌 일반 텍스트로 데이터를 해석한다. 실제 HTML을 출력하려면 v-html 디렉티브를 사용한다.</p>
                <p>v-show <br>v-show는 조건에 따라 엘리먼트를 화면에 렌더링 한다. style의 display를 변경한다.</p>
                <p>v-for <br>v-for는 배열이나 객체의 반복에 사용된다. 사용법은 v-for="요소변수이름 in 배열"이나 v-for="(요소변수이름, 인덱스) in 배열" 같은 방법으로 사용할 수 있다.</p>
                <p>v-model <br>v-model은 양방향 바인딩 처리를 위해서 사용한다. (form의 input이나 textarea)</p>
                <p>v-if, v-else-if, v-else <br>v-if, v-else-if, v-else는 조건에 따라 엘리먼트를 화면에 렌더링 한다.</p>
                <p>v-on <br>v-on은 DOM 이벤트를 듣고 트리거 될 때 JavaScript를 실행할 수 있다.</p>
                <p>v-show와 v-if의 차이<br>v-if는 false일 경우 렌더링 자체가 되지 않고 v-show는 항상 렌더링 된다.
                    v-if는 false일 경우 엘리먼트를 삭제해버리고 v-show는 display:none이 적용된다.
                    v-if는 template와 v-else를 지원하지만 v-show는 지원하지 않는다.</p>
            </div>
            <picture class="image main"><img src="directives.png" style="max-width: 780px" loading="lazy" alt="blog-photo"/></picture>
        </article>

        <article id="vue2">
            <h2 class="major">Moment.js</h2>
            <div class="description">
                <p>Moment.js는 JavaScript에서 가장 많이 사용되어 온 날짜 라이브러리이다.
                    개발할 때 현재 날짜를 가져오거나, 특정 날짜의 년/월/일만을 가져오거나, 내가 원하는 날짜 포맷으로 형식을 변경해 주거나, 특정 날짜와 비교해 주는 등 날짜 관련해서 다양한 처리가 필요할 때 사용한다.
                    더 이상 업데이트가 없어 deprecated 되었고 레거시 프로젝트가 되었지만, 아직 실무에 사용하는 곳이 많고 다른 라이브러리에 의존성을 가진 경우가 많으며 정통 날짜 라이브러리로 많이 사용되고 있다.
                </p>
                <picture class="image main"><img src="momentjs.png" style="max-width: 780px" loading="lazy" alt="blog-photo"/></picture>
            </div>
        </article>


    </div>

    <footer id="footer"></footer>

</div>

<div id="bg"></div>

<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/js/browser.min.js"></script>
<script src="../../../assets/js/breakpoints.min.js"></script>
<script src="../../../assets/js/util.js"></script>
<script src="../../../assets/js/main.js"></script>

</body>
</html>
